@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-intro-title {
    width: 365px;
    height: 93px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-left: 10%;
    margin-top: 157px;
}

.header-intro-text {
    width: 662px;
    height: 374px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-left: 10%;
    margin-top: 18px;
}

.intro-img-big {
    width: 314px;
    height: 315px;
    position: absolute;
    top: 50px;
    right: 200px;
     z-index: 1; 
}

.header-intro {
    position: relative;
}


/* .intro-img-ellips {
    width: 366px;
    height: 59px;
    position: absolute;
    top: 330px;
    right: 180px;
} */

.intro-footer {
    position: relative;
}

.intro-footer-img-1 {
    position: absolute;
    /*z-index: 1;*/
    margin-top: 94px;
    margin-left: 10%;
    width: 232px;
    height: 210px;
}

/* .intro-footer-img-2 {
    width: 189px;
    height: 32px;
    margin-left: 11.5%;
    margin-top: 280px;
} */

.part-1-header {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.part-1-text {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

.part-2-header {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.part-2-text {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

.part-3-text {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

.part-3-header {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.intro-footer-content {
    width: 638px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 168px;
    left: 37%;
}
@media (min-width: 992px) and (max-width: 1279px) {
    .header-intro-title {
        width: 211.4px;
        height: 53.86px;
        font-size: 32px;
        margin-top: 100px;
    }
    .header-intro-text {
        width: 383.41px;
        height: 216.61px;
        font-size: 14px;
        margin-top: 10px;
    }
    .intro-img-big {
        width: 181.86px;
        height: 182.44px;
        top: 50px;
        right: 200px;
    }
    .intro-img-ellips {
        width: 211.98px;
        height: 34.17px;
        top: 215px;
        right: 180px;
    }
    .intro-footer-img-1 {
        width: 134.37px;
        height: 117.57px;
    }
    /*.intro-footer-img-2 {
        width: 109.46px;
        height: 18.53px;
        margin-top: 19%;
    }*/
    .part-1-header,
    .part-2-header,
    .part-3-header {
        width: 86.88px;
        height: 22.59px;
        font-size: 15px;
    }
    .part-1-text,
    .part-2-text,
    .part-3-text {
        width: 86.88px;
        height: 22.59px;
        font-size: 11px;
    }
    .intro-footer-content {
        width: 370px;
        top: 140px;
        left: 37%;
    }
}
@media (min-width: 320px) and (max-width: 991px) {
    .header-intro-title {
        width: 170.08px;
        height: 43.34px;
        font-size: 26px;
        margin-top: 80px;
    }
    .header-intro-text {
        width: 308.47px;
        height: 174.27px;
        font-size: 12px;
        margin-top: 10px;
    }
    .intro-img-big {
        width: 170.55px;
        height: 160.29px;
        top: 107%;
        left: 12%;
    }
    .intro-footer {
        margin-top: 80px;
        left: 0%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .intro-footer-content {
        width: 300px !important;
        left: 10% !important;
        flex-wrap: wrap;
    }
    .intro-img-ellips {
        width: 211.98px;
        height: 34.17px;
        top: 385px;
        right: 280px;
    }
    .intro-footer-img-1 {
        display: none;
    }
    /*.intro-footer-img-2 {
        display: none;
    }*/
    .part-1-header,
    .part-2-header,
    .part-3-header {
        width: 86.88px;
        height: 22.59px;
        font-size: 15px;
    }
    .part-1-text,
    .part-2-text,
    .part-3-text {
        width: 86.88px;
        height: 22.59px;
        font-size: 11px;
    }
    .content-part-3 {
        padding-top: 30px;
        padding-left: 1.6%;
    }
    .intro-footer-content {
        width: 200px !important;
        top: 140px;
        left: 37%;
    }
}        